<img src="{{url_t}}" alt="{{title}}" /><p><a href="http://{{photourl}}" title="{{title}}">{{title}}</a> by <a href="http://{{authorurl}}">{{ownername}}</a>, available under a <a href="http://creativecommons.org/licenses/by-nc/3.0/us">Creative Commons Attribution-Noncommercial license</a></p>